= render partial: 'common/flash_messages'
- content_for :video do
  = video_tag "/images/fire3.mp4", :autoplay => true, :loop => true, :id => "topsplash"
.jumbotron
  %h1
    = t('application.title')
  %p
    = t('top.message1')
  %p
    = t('top.message2')
  %p
    = link_to t('application.search_bus'), bus_stops_path, {class: "btn btn-primary btn-lg"}
    = link_to t('application.create_bus'), new_bus_stop_path, {class: "btn btn-primary btn-lg"}
