= render partial: 'common/flash_messages'

.jumbotron
  %h1
    = t('application.title')
  %p
    = t('top.message1')
  %p
    = t('top.message2')
  %p
    = link_to t('application.search_bus'), bus_stops_path, {class: "btn btn-primary btn-lg"}
