.page-header
  %ul
    %li
      %button.btn.btn-default#back_btn #{t('helpers.links.back')}
    %li
      = link_to t('bus_stops.common.show.destroy'), admin_destroy_bus_stop_path(@bus_stop.id), class: "btn btn-danger", method: 'delete', data:{confirm: t('bus_stops.common.show.destroy_confirm')}

  %h1 #{t('.title')}

.page-content
  = render partial: 'common/flash_messages'
  = render partial: 'common/bus_stop_show', locals: {bus_stop: @bus_stop, information: @information, photos: @photos}
