= render partial: 'common/error_message', locals: {model:@user}

= form_for(@user, url: {action: 'create'}) do |f|

  .form-group
    = f.label :username, class: 'control-label'
    .controls
      = f.text_field :username, class: 'form-control', required: true

  .form-group
    = f.label :email, class: 'control-label'
    .controls
      = f.text_field :email, class: 'form-control', required: true

  .form-group
    = f.label :password, class: 'control-label'
    .controls
      = f.password_field :password, class: 'form-control', required: true

  .form-group
    = f.label :password_confirmation, class: 'control-label'
    .controls
      = f.password_field :password_confirmation, class: 'form-control', required: true

  = f.submit t('helpers.submit.create'), class: "btn btn-large btn-primary", name: nil
