.page-header
  %h1 #{t('.title')}

.page-content
  = render partial: 'common/flash_messages'
  %table#admin_users.table.table-striped
    %thead
      %tr
        %th= User.human_attribute_name(:username)
        %th= User.human_attribute_name(:email)
        %th= User.human_attribute_name(:admin_flag)
        %th= t('bus_stops.common.index.action')
    %tbody
      - @users.each do |user|
        %tr{class:(current_user.id == user.id ? "info": "")}
          %td= user.username
          %td= user.email
          %td= user.admin_flag ? t('.is_admin'):t('.isnt_admin')
          %td
            = link_to t('.detail'), admin_user_path(user.id), class: "btn btn-default"
            = link_to t('.delete'), admin_destroy_user_path(user.id), method:'delete', data:{confirm: t('.delete_confirm')}, class: "btn btn-danger"
