.page-header
  %ul
    %li
      .pager_with_entries#pager= render partial: 'common/pager_with_entries', locals: { collection: @users, remote: true }
  %h1 #{t('.title')}

.page-content

  = render partial: 'common/flash_messages'
  %table#admin_users.table.table-striped
    %thead
      %tr
        %th= User.human_attribute_name(:username)
        %th= User.human_attribute_name(:email)
        %th= User.human_attribute_name(:admin_flag)
        %th= t('bus_stops.common.index.action')
    %tbody#list
      = render partial: 'user_list', locals: {users: @users}
