#photos
  - if bus_stop_photos.blank?
    .alert.alert-warning= t('users.photos.no_photos')

  %table.table
    %thead
      %tr
        %th
        %th= BusStop.human_attribute_name(:name)
        %th= BusStop.human_attribute_name(:prefecture)
        %th= BusStopPhoto.human_attribute_name(:created_at)
        %th Action
    %tbody
      - bus_stop_photos.each do |bus_stop_photo|
        %tr
          %td.photo
            %a(href="#{bus_stop_photo.photo.url}" target="_blank" )
              = image_tag bus_stop_photo.photo.url(:thumb)
          %td= bus_stop_photo.bus_stop.try(:name)
          %td= bus_stop_photo.bus_stop.try(:prefecture).try(:name)
          %td= bus_stop_photo.created_at
          %td
            - if is_admin_layout? && is_admin?
              - destroy_photo_path = admin_destroy_bus_stop_photos_path(bus_stop_photo.bus_stop.id, bus_stop_photo.id)
              - detail_bus_stop_path = admin_bus_stop_path(bus_stop_photo.bus_stop.id)
            - else
              - destroy_photo_path = destroy_bus_stop_photos_path(bus_stop_photo.bus_stop.id, bus_stop_photo.id)
              - detail_bus_stop_path = bus_stop_path(bus_stop_photo.bus_stop.id)
            = link_to t('users.common.photos.bus_stop_detail'), detail_bus_stop_path, class: "btn btn-default"
            = link_to t('users.common.photos.delete_photo'), destroy_photo_path, method: 'delete', data:{confirm: t('users.common.photos.delete_confirm')}, class: "btn btn-danger"

